<section
  class="flex flex-col gap-2 items-center justify-center h-screen z-[1] relative bg-no-repeat bg-cover bg-center p-4"
>
  <div class="w-full md:w-4/12 lg:w-1/5 flex flex-col gap-4">
    <h1 class="text-white text-center font-extrabold text-[3rem] w-full">
      Login
    </h1>
    <form
      [formGroup]="form"
      class="flex flex-col gap-7 w-full"
      (ngSubmit)="onSubmit()"
    >
      <!-- EMAIL -->
      <fieldset class="relative flex items-center">
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          class="w-full p-4 rounded-[2rem] pl-10"
        />
        <mat-icon
          matPrefix
          class="absolute left-4 pointer-events-none !h-4 !w-4 text-[1rem]"
          >mail</mat-icon
        >
      </fieldset>

      <!-- PASSWORD -->
      <fieldset class="relative flex items-center">
        <input
          matInput
          formControlName="password"
          placeholder="Password"
          [type]="hidePasswordSignal() ? 'password' : 'text'"
          class="w-full p-4 rounded-[2rem] pl-10"
        />
        <mat-icon
          matPrefix
          class="absolute left-4 pointer-events-none !h-4 !w-4 text-[1rem]"
          >key</mat-icon
        >
        <button
          class="!absolute right-4"
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePassword($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePasswordSignal()"
          matRipple
        >
          <mat-icon>{{
            hidePasswordSignal() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </fieldset>

      <!-- REMEMBER ME -->
      <fieldset>
        <mat-checkbox formControlName="rememberMe"> Remember Me </mat-checkbox>
      </fieldset>

      <button
        class="submit transition-all duration-500 ease-in-out p-4 rounded-[2rem] font-bold text-white bg-[var(--blue-dark)] hover:bg-white hover:text-[var(--blue-dark)] hover:transition-all hover:duration-500 hover:ease-in-out"
        type="submit"
      >
        Login
      </button>

      <small class="flex items-center justify-center">
        <a [routerLink]="['/auth', 'register']" class="text-white font-semibold"
          >Don't have an account?</a
        >
      </small>
    </form>
  </div>
</section>
