@use "mixins/animation-mixin" as *;
@use "mixins/background-mixin" as *;

:host {
  ::ng-deep {
    mat-checkbox {
      label {
        font-family: "Montserrat";
        color: white;
        font-weight: 600;
      }
    }
  }

  fieldset {
    input {
      &:focus-visible {
        outline: none;
      }
    }

    > mat-icon {
      opacity: 0.2;
    }

    &:focus-within {
      > mat-icon {
        opacity: 1;
        color: var(--blue);
        @include grow-and-shrink(0.25s, 1.5);
      }
    }
  }
}

section {
  @include background-setup();
}