@use "mixins/animation-mixin" as *;
@use "mixins/background-mixin" as *;
@use "colors" as *;

:host {
  fieldset {
    input {
      &:focus-visible {
        outline: none;
      }
    }

    &.error {
      > mat-icon {
        opacity: 1;
        color: var(--red-dark);
        @include grow-and-shrink();
      }
    }

    > mat-icon {
      opacity: 0.2;
    }

    &:focus-within {
      > mat-icon {
        opacity: 1;
        color: var(--blue);
        @include grow-and-shrink();
      }
    }
  }
}

section {
  @include background-setup($red, $red-dark);
}
