@use "mixins/animation-mixin" as *;
@use "mixins/background-mixin" as *;
@use "colors" as *;

:host {
  fieldset {
    input {
      &:focus-visible {
        outline: none;
      }
    }

    > mat-icon {
      opacity: 0.2;
    }

    &:focus-within {
      > mat-icon {
        opacity: 1;
        color: var(--red);
        @include grow-and-shrink(0.25s, 1.5);
      }
    }
  }
}

section {
  @include background-setup($red, $red-dark);
}