<section
  class="flex flex-col gap-2 items-center justify-center min-h-screen z-[1] relative bg-no-repeat bg-cover bg-center p-4"
>
  <div class="w-full md:w-4/12 xl:w-1/5 flex flex-col gap-4">
    <h1 class="text-white text-center font-extrabold text-[3rem] w-full">
      Register
    </h1>
    <form
      [formGroup]="form"
      class="flex flex-col gap-7 w-full"
      (ngSubmit)="onSubmit()"
    >
      <!-- EMAIL -->
      <fieldset
        class="relative flex items-center"
        [class.error]="isFormSubmittedSignal() && form.get('email')?.invalid"
      >
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          class="w-full p-4 rounded-[2rem] pl-10"
        />
        <mat-icon
          matPrefix
          class="absolute left-4 pointer-events-none !h-4 !w-4 text-[1rem]"
          >mail</mat-icon
        >
      </fieldset>

      <!-- PASSWORD -->
      <fieldset
        class="relative flex items-center"
        [class.error]="isFormSubmittedSignal() && form.get('password')?.invalid"
      >
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
          class="w-full p-4 rounded-[2rem] pl-10"
        />
        <mat-icon
          matPrefix
          class="absolute left-4 pointer-events-none !h-4 !w-4 text-[1rem]"
          >key</mat-icon
        >
      </fieldset>
      <mat-hint
        class="!text-center !text-[12px] text-white font-medium mt-[-1.5rem]"
        >Password should be at least 8 characters long</mat-hint
      >
      <fieldset
        class="relative flex items-center"
        [class.error]="
          isFormSubmittedSignal() && form.get('reTypePassword')?.invalid
        "
      >
        <input
          matInput
          placeholder="Confirm Password"
          formControlName="reTypePassword"
          type="password"
          class="w-full p-4 rounded-[2rem] pl-10"
        />
        <mat-icon
          matPrefix
          class="absolute left-4 pointer-events-none !h-4 !w-4 text-[1rem]"
          >key</mat-icon
        >
      </fieldset>
      @if(isFormSubmittedSignal() && form.get('password')?.value !==
      form.get('reTypPassword')?.value) {

      <mat-hint
        class="!text-center !text-[12px] text-white font-medium mt-[-1.5rem]"
        >Passwords do not match</mat-hint
      >
      }
      <button
        class="submit transition-all duration-500 p-4 rounded-[2rem] font-bold text-white bg-[var(--blue-dark)] hover:bg-white hover:text-[var(--blue-dark)] ease-in-out diration-500 cursor-pointer"
        type="submit"
        appClickOutside
        (clickOutside)="onClickOutside($event)"
      >
        Sign up
      </button>

      <hr />
      <small class="flex items-center justify-center">
        <a [routerLink]="['/auth', 'login']" class="text-white font-semibold"
          >Already have an account?</a
        >
      </small>
    </form>
  </div>
</section>
