<section
  class="flex flex-col gap-2 items-center justify-center md:justify-start min-h-screen z-[1] relative bg-no-repeat bg-cover bg-center p-4 md:pt-40"
>
  <div class="w-full md:w-3/4 lg:w-2/3 flex flex-col gap-14">
    <!-- TITLE -->
    <h1
      class="text-white font-extrabold text-[3rem] flex flex-row items-center justify-between tracking-[1rem]"
    >
      TODOS

      <div class="flex items-center gap-8">
        <button
          type="button"
          class="flex items-center justify-center rounded-full bg-[var(--blue-dark)] border-1 text-white text-2xl p-4 hover:bg-white hover:text-[var(--blue-dark)] duration-500 hover:rotate-180 hover:text-4xl ease-out"
          (click)="openCreateTodoModal()"
        >
          <mat-icon>add</mat-icon>
        </button>

        <button
          type="button"
          class="flex items-center justify-end rounded-full bg-[var(--red-dark)] text-white text-2xl p-4 duration-500 hover:rotate-180 hover:text-4xl ease-out hover:bg-white hover:text-[var(--red-dark)]"
          (click)="logOut()"
        >
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </h1>

    <!-- TODOS -->
    <div
      class="flex flex-col items-start justify-between gap-4 rounded-lg bg-white p-6"
    >
      <div class="flex flex-col justify-between w-full">
        <!-- FILTERS -->
        <div class="w-full flex flex-row items-center justify-start gap-2 mb-8">
          <small class="opacity-50 flex-[0.5]"
            >{{ todoItemsLeftSignal() }} items left</small
          >
          <div class="flex items-center gap-4">
            <small class="opacity-50">Filter by</small>
            <mat-icon
              (click)="filter('pin')"
              [@pinUnpin]="filters?.isPinned ? 'pinned' : 'unPinned'"
              class="!h-4 !w-4 opacity-20 cursor-pointer text-[1rem]"
              >push_pin</mat-icon
            >
            <mat-icon
              (click)="filter('complete')"
              [@completeIncomplete]="
                filters?.isCompleted ? 'complete' : 'inComplete'
              "
              class="!h-4 !w-4 opacity-20 cursor-pointer text-[1rem]"
              >task_alt</mat-icon
            >
            <mat-icon
              (click)="openSearchModal()"
              class="!h-4 !w-4 opacity-20 cursor-pointer text-[1rem]"
              >search</mat-icon
            >
            <mat-icon
              (click)="filter(null)"
              class="!h-4 !w-4 cursor-pointer text-[1rem] ml-8 text-red-600"
              >cancel</mat-icon
            >
          </div>
        </div>
        <div class="w-full flex flex-col items-center justify-center gap-2">
          <mat-progress-bar
            class="rounded-[10px]"
            mode="determinate"
            [value]="progressBarValueSignal()"
          >
          </mat-progress-bar>
          <small> {{ progressBarValueSignal() | number : "1.2-2" }} % </small>
        </div>
        <div cdkDropList class="w-full" (cdkDropListDropped)="drop($event)">
          @for(todo of todosSignal(); track todo?.id) {
          <div class="example-box" cdkDragLockAxis="y" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <app-todo-item
              class="w-full border-b last:border-0 border-gray-300"
              [todoSignal]="todo"
            ></app-todo-item>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
