@use "mixins/background-mixin" as *;
@use "mixins/animation-mixin" as *;
@use "colors" as *;

:host {
  --mdc-linear-progress-active-indicator-color: #{$blue-dark};
  --mdc-linear-progress-track-height: 12px;
  --mdc-linear-progress-active-indicator-height: 12px;
  --mdc-linear-progress-track-color: #{$gray-light};
}

section {
  @include background-setup($blue-dark);
}
