@use "colors" as *;
@use "fonts" as *;

:root {
  --font-primary: "Montserrat", sans-serif;

  --blue: #{$blue};
  --blue-dark: #{$blue-dark};

  --red: #{$red};
  --red-dark: #{$red-dark};

  --green: #{$green};

  --gray-light: #{$gray-light};
}
