@if(todoSignal()) {

<article class="w-full flex flex-row items-center justify-between p-4 bg-white">
  <fieldset class="flex-[2_1_0]">
    <mat-checkbox
      [checked]="!!todoSignal().isCompleted"
      (change)="onTaskToggle($event)"
    >
      <span class="visual" [class.complete]="todoSignal().isCompleted">{{
        todoSignal().title
      }}</span>
    </mat-checkbox>
  </fieldset>

  <small class="flex-[2_1_0] visual" [class.complete]="todoSignal().isCompleted"
    >Due Date {{ todoSignal().dueDate | date : "shortDate" }}</small
  >

  <button
    mat-icon-button
    class="flex-1"
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="removeTodo()">
      <mat-icon>close</mat-icon>
      <span>Delete</span>
    </button>
    <button mat-menu-item (click)="editTodo()">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
  </mat-menu>
</article>
}
