@use "mixins/animation-mixin" as *;

:host {
  ::ng-deep {
    mat-checkbox {
      label {
        font-family: "Montserrat";
      }
    }
  }
}
.visual {
  transition: 0.25s ease-in-out;
  &.complete {
    text-decoration: line-through;
    opacity: 0.2;
  }
}