@use "colors" as *;
@use "root_variables" as *;

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-primary);

  ::-webkit-scrollbar {
    width: 10px;

    &-track {
      border-radius: 10px;
      background: transparent;
    }

    &-thumb {
      background: lightgrey;
      border-radius: 10px;

      &:hover {
        background: grey;
      }
    }
  }
}

:root {
  --mat-sys-label-large-font: var(--font-primary);
  --mat-sys-headline-small-font: var(--font-primary);
  --mat-sys-body-medium-font: var(--font-primary);
  --mat-sys-body-large-font: var(--font-primary);
  --mat-sys-corner-extra-large: 2px;
  --mat-sys-surface-variant: transparent;
}
