@use "colors" as *;
@use "root_variables" as *;

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-primary);
}

:root {
  .mat-mdc-snack-bar-label {
    font-family: var(--font-primary) !important;
  }
  .mat-mdc-snack-bar-action {
    font-family: var(--font-primary);
  }

  .mat-mdc-menu-item-text {
    font-family: var(--font-primary) !important;
  }
}
