@mixin grow-and-shrink($duration: 0.25s, $scale: 1.5) {
  @keyframes growAndShrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale($scale);
    }
    100% {
      transform: scale(1);
    }
  }

  animation: growAndShrink $duration ease-in-out;
}
