<mat-dialog-content>
  <h2
    mat-dialog-title
    class="!flex items-center justify-start !px-0 !font-semibold"
  >
    <span> {{ data?.todo?.id ? "Update" : "Create" }} </span>
    <button
      mat-icon-button
      mat-dialog-close
      type="button"
      class="!absolute right-0 !px-0"
    >
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  @if(form) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- TITLE -->
    <mat-form-field class="w-full">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>

    <div
      class="flex flex-col md:flex-row items-center justify-between gap-2 md:gap-8"
    >
      <div class="w-full md:w-1/2">
        <!-- DUE DATE -->
        <mat-form-field>
          <mat-label>Due Date</mat-label>
          <input
            matInput
            [readonly]="true"
            [matDatepicker]="picker"
            formControlName="dueDate"
            (click)="picker.open()"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- PRIORITY -->
      <div class="w-full md-w-1/2">
        <mat-form-field class="w-full">
          <mat-label>Priority</mat-label>
          <mat-select formControlName="priorityId">
            @for (priorityItem of prioritiesSignal(); track priorityItem?.id) {
            <mat-option [value]="priorityItem?.id">{{
              priorityItem?.priority
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <button
      class="w-full submit transition-all duration-500 ease-in-out p-4 rounded-[2rem] font-bold text-white bg-[var(--blue-dark)] hover:bg-white hover:text-[var(--blue-dark)] border-white border hover:border-[var(--blue-dark)] cursor-pointer"
      type="submit"
      [ngClass]="{
        'opacity-50 !cursor-not-allowed': form.invalid
      }"
      [disabled]="form.invalid"
    >
      Submit
    </button>
  </form>
  }
</mat-dialog-content>
