<h2
  mat-dialog-title
  class="!flex items-center justify-start !px-6 !font-semibold"
>
  {{ data?.todo?.id ? "Update" : "Create" }} new todo item

  <button
    mat-icon-button
    mat-dialog-close
    type="button"
    class="!absolute right-3"
  >
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content>
  @if(form) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- TITLE -->
    <mat-form-field class="w-full">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>

    <!-- DUE DATE -->
    <mat-form-field class="w-full">
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- IS COMPLETE -->
    @if (data?.todo?.id) {

    <mat-checkbox
      [checked]="!!data?.todo?.isCompleted"
      formControlName="isCompleted"
    >
      Is Completed
    </mat-checkbox>
    }

    <!-- PRIORITY -->
    <mat-form-field class="w-full">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priorityId">
        @for (priorityItem of prioritiesSignal(); track priorityItem?.id) {
        <mat-option [value]="priorityItem?.id">{{
          priorityItem.priority
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- <button
      class="w-full submit p-4 rounded-[2rem] font-bold text-white bg-teal-950 hover:bg-white border-1 hover:text-teal-950 hover:border-(bg-teal=950)"
      type="submit"
    >
      Submit
    </button> -->
  </form>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button
    class="w-full submit p-4 rounded-[2rem] font-bold text-white bg-teal-950 hover:bg-white border-1 hover:text-teal-950 hover:border-(bg-teal=950)"
    type="submit"
  >
    Submit
  </button>
</mat-dialog-actions>
